:root {
  --nav: #2E2D40; 
  --dark-gradient: #0E1237;
  --dark-gradient2: #0E1237;
  --light-gradient: #343F6D;
  --light-gradient2: #3B3549;
  --accent: #B0CDFF;
  --accent2: #BFBBFF;
  --subtitle: #A4A3D4;
}

h1, h2, h3 {
  font-family: 'Cantarell', sans-serif;
}

body, p, li {
  color: white;
  font-family: 'Nanum Gothic', sans-serif;
}

.link-style {
  font-weight: 500;
  color: var(--accent2);
  text-decoration-line: underline;
}

.link-style:hover {
  font-weight: bold;
  color: var(--subtitle);
  text-decoration-line: underline;
}

.vert-align {
  align-items: center;
  display: flex;
  justify-content: center;
}

.title {
  padding-top: 5%;
  margin-bottom: -1%;
  align-items: center;
  display: flex;
  justify-content: center;
  color: var(--accent);
  font-style: italic;
}

.navbar {
  background: var(--nav) !important;
}

.nav-link {
  color: white;
}

.nav-link:hover {
  color: var(--accent) !important;
}

h3 {
  color: var(--accent2);
  font-family: 'Cantarell', sans-serif;
}

.subtitle {
  color: var(--subtitle);
  font-style: italic;
}

/* for Skils & Intersts and Experiences boxes */
.row {
  width: 80%;
  margin: auto;
}

/* Intro/First Page */
.intro {
  height: 100vh;
  width: 100vw;
  background: linear-gradient(var(--nav), var(--light-gradient));
  margin: 0%;
  padding: 0%;
}

.intro-txt {
  line-height: 100vh;;
  text-align: center;
}

/* to keep second line centered */
.intro-txt p {
  line-height: 1.5;
  display: inline-block;
  vertical-align: middle;
}

.name {
  margin: 0%;
  color: var(--subtitle);
  font-size: 5em;
  font-style: italic;
  font-family: 'Cantarell', sans-serif;
}

/* About Me/Second Page */
.about {
  width: 100vw;
  min-height: 100vh;
  /* trying to overlay an image & gradient: background: linear-gradient(rgba(216, 222, 254, 0.5), rgba(168, 194, 229, 0.5)), url(https://thumbs2.imgbox.com/be/ba/m728wUTj_t.png); */
  background: linear-gradient(var(--light-gradient), var(--dark-gradient));
  padding-bottom: 3%;
  margin: 0%;
  padding: 0%;
}

/* keep About Me box at 80% -- basically .container */
.about-txt {
  width: 100%;
  margin: 3% auto 0% auto;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 10px;
  padding: 3%;
}

.col-box-2 {
  padding: 4%;
  margin-top: 3%;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 10px;
  width: 48.33%;
}

/* Experiences/Third Page */
.experiences {
  width: 100vw;
  min-height: 100vh;
  padding-bottom: 3%;
  margin: 0%;
  padding: 0%;
  background: linear-gradient(var(--dark-gradient), var(--light-gradient2));
}

/* exp-txt & row-1 are the reverse of about-txt & row
   because the widths have to be reversed */
.exp-txt {
  margin: 3% auto 0% auto;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 10px;
  padding: 3%;
  width: 80%;
}

.exp-image {
  width: 50vw;
  height: 50vh;
  object-fit: cover;
  border-radius: 10px;
}

.exp-image:hover {
    transform: scale(1.05);
    transition: all 0.2s ease-in-out; 
}

.row-1 {
  width: 100%;
  margin: auto;
}

/* Projects/Fourth Page */
.projects {
  width: 100vw;
  min-height: 100vh;
  padding-bottom: 3%;
  background: linear-gradient(var(--light-gradient2), var(--dark-gradient2));
}

.col-box-3 {
  padding: 3%;
  margin: auto;
  margin-top: 3%;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 10px;
  width: 31.66%;
}

.proj-image {
  width: 25vw;
  height: 25vh;
  object-fit: cover;
  border-radius: 10px;
  margin-bottom: 7%;
}

.proj-image:hover {
    transform: scale(1.05);
    transition: all 0.2s ease-in-out; 
}

/* Footer */
.footer {
  padding: 1%;
  background: var(--light-gradient) !important;
  color: white;
}

.icon {
  height: 2%;
  width: 2%;
  padding-top: 1%;
  padding-bottom: 0.5%;
}

.icon:hover {
    transform: scale(1.25);
    transition: all 0.2s ease-in-out; 
}

/* adjusts boxes for non-laptop screens */
@media only screen and (max-width: 992px) {
  .row {
    width: 100%;
  }
  .exp-txt {
    width: 95%;
  }
  .row-1 {
    width: 100%;
  }
  .about-txt {
    width: 95%;
  }
  .col-box-2 {
    width: 95%;
    margin: auto;
    margin-top: 3%
  } 
  .col-box-3 {
    width: 95%;
    margin: auto;
    margin-top: 3%;
  }
  .icon {
    height: 4%;
    width: 4%;
    padding-bottom: 2%;
  }
  .exp-image {
    display: flex;
    float: up;
    margin-bottom: 5%;
    border-radius: 10px;
    width: 100vw;
    max-height: 60vw;
  }
  .proj-image {
    display: flex;
    float: up;
    margin-bottom: 5%;
    width: 100vw;
    max-height: 60vw;
    border-radius: 10px !important;
  }
}

  @media only screen and (max-width: 600px) {
  .icon {
    height: 6%;
    width: 6%;
    padding-bottom: 2%;
  }
}
